<%- include('../admin/layout/admin-header-layout.ejs') -%>

<div class="container" style="text-align: center">Welcome admin</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<%- include('../admin/layout/admin-footer-layout.ejs') -%>
