<%-include('../user/layout/user-header-layout.ejs') -%>

<header
  id="fh5co-header"
  class="fh5co-cover fh5co-cover-sm"
  role="banner"
  style="
    background-image: url('https://st1.myideasoft.com/idea/jr/73/themes/selftpl_62177def8f4d9/assets/uploads/en/category_image_1.jpeg?revision=7.2.4.3-10-1669725188');
  "
>
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center">
        <div class="display-t">
          <div class="display-tc animate-box" data-animate-effect="fadeIn">
            <h1>No Results Found</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<%-include('../user/layout/user-footer-layout.ejs') -%>
