<!-- ********************************************************************************************* -->


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>OTP</title>
    <!--favicon-->
    <link rel="icon" href="assets/images/favicon.ico" type="image/x-icon">
    <!-- Bootstrap core CSS-->
    <link href="/stylesheets/admin/homestyle/bootstrap.min.css" rel="stylesheet" />
    <!-- animate CSS-->
    <link href="/stylesheets/admin/homestyle/animate.css" rel="stylesheet" type="text/css" />
    <!-- Icons CSS-->
    <link href="/stylesheets/admin/homestyle/icons.css" rel="stylesheet" type="text/css" />
    <!-- Custom Style-->
    <link href="/stylesheets/admin/homestyle/app-style.css" rel="stylesheet" />

</head>

<body class="bg-theme bg-theme9">

    <!-- Start wrapper-->
    <div id="wrapper">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="card card-authentication1 mx-auto my-5">
            <div class="card-body">
                <div class="card-content p-2">

                    <div class="card-title text-uppercase text-center py-3">OTP Verification</div>
                    <form action="/verifypasswordotp" method="post">

                        <div class="form-group">
                            <label for="exampleInputPassword" class="sr-only">Password</label>
                            <div class="position-relative has-icon-right">
                                <input type="text" id="exampleInputPassword" class="form-control input-shadow"
                                    placeholder="Enter OTP" name="otp">
                                <div class="form-control-position">
                                    <i class="icon-lock"></i>
                                </div>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-light btn-block">Submit</button>
                    </form>
                    <br>
                    <form action="/resendpasswordotp" method="post">
                        <button type="submit" class="btn btn-light btn-block">Resend OTP</button>
                    </form>
                </div>
            </div>
        </div>

        <!--Start Back To Top Button-->
        <a href="javaScript:void();" class="back-to-top"><i class="fa fa-angle-double-up"></i> </a>
        <!--End Back To Top Button-->

    </div>
    <!--wrapper-->

    <!-- Bootstrap core JavaScript-->
    <script src="/javascripts/admin/homejs/jquery.min.js"></script>
    <script src="/javascripts/admin/homejs/popper.min.js"></script>
    <script src="/javascripts/admin/homejs/bootstrap.min.js"></script>

    <!-- Custom scripts -->
    <script src="/javascripts/admin/homejs/app-script.js"></script>

</body>

</html>