<div style="background-color: rgb(225, 225, 225)">
  <div class="container">
    <!-- Button trigger modal -->
    <button
      type="button"
      class="btn btn-primary"
      data-toggle="modal"
      data-target="#exampleModalCenter"
      style="margin-top: 20px; float: left"
    >
      Sort by
    </button>
    <!-- Button trigger modal -->
    <button
      type="button"
      class="btn btn-primary"
      data-toggle="modal"
      data-target="#exampleModal"
      style="margin-top: 20px; float: right"
    >
      Filter
    </button>
  </div>

  <!-- Modal -->
  <div
    class="modal fade"
    id="exampleModalCenter"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Sort by</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <a href="/sortLow">Low to High</a>
          <hr />
          <a href="/sortHigh">High to Low</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Filter by rate</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <a href="/0To99">RS: 0 - 99 </a>
          <hr />
          <a href="/100To499">RS: 100 - 499</a>
          <hr />
          <a href="/500To999">RS: 500 - 999</a>
          <hr />
          <a href="/1000To1999">RS: 1000 - 1999</a>
          <hr />
          <a href="/2000To3999">RS: 2000 - 3999</a>
        </div>
      </div>
    </div>
  </div>
</div>
